.border-radius {
  border-radius: 0.8rem;
}

.text-blu {
  color: #0b0033;
}
.bg-nav {
  background-color: #ecf0f5;
}

.bg-link {
  background: rgb(109, 107, 109);
  background: linear-gradient(
    90deg,
    rgba(109, 107, 109, 1) 0%,
    rgba(61, 50, 50, 0.4290091036414566) 39%
  );
}

.box {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px #3d3d3d;
  padding: 30px;
  margin: 20px;
  background: rgb(11, 0, 51);
  background: linear-gradient(
    349deg,
    rgba(11, 0, 51, 1) 0%,
    rgba(80, 161, 172, 0.7693452380952381) 82%
  );
}

.icon {
  width: 70px;
}

.btn-custom {
  border-top: #0b0033 5px solid;
  background-color: #d5d9dd;
  border-radius: 0.8rem;
}

.bg-custom {
  background-color: rgba(245, 245, 245, 0.823);
  border-radius: 0.8rem;
}

.border-custom {
  border: green solid 5px;
}

.border-btnAdd {
  border-top: red solid 3px;
}

.bg-comand {
  background: rgb(11, 0, 51);
  background: linear-gradient(
    349deg,
    rgba(11, 0, 51, 1) 0%,
    rgba(80, 161, 172, 0.7693452380952381) 82%
  );
}

.name {
  color: white;
}
